#sec4{
    width: 100%;
    height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    #sec4 > div{
        width: 63%;
        height: 75%;
        position: relative;

        /* border: 1px solid black; */
    }

    /* 맨위 글자 */
    #sec4 > div > div:nth-child(1){
        color: rgb(97, 97, 97);
        font-size: 23px;
        font-weight: bold;
        padding: 10px;

        transform-origin: top;
        transform: rotateX(-90deg);
        opacity: 0;
        transition: all 1s ease;
    }
    #sec4 > div > div:nth-child(1) > div:nth-child(1){
        margin-bottom: 5px;
    }

    /* 2번째 줄 글자 */
    #sec4 > div > div:nth-child(2){
        font-size: 40px;
        font-weight: bold;
        padding: 10px;

        transform-origin: top;
        transform: rotateX(-90deg);
        opacity: 1;
        transition: all 1s ease;
    }

    /* 마지막 4개 사진 */
    #sec4 .imgBox2{
        width: 100%;
        height: 66%;
        position: absolute;
        bottom: 0;
        display: flex;

        /* border: 1px solid black; */
    }
        #sec4 .imgBox2 .sec4img{
            position: relative;
            width: 25%;
            background-position: center;
            background-repeat: no-repeat;
            color: whitesmoke;
            cursor: pointer;

            transform: rotateY(180deg) translateY(0);
            opacity: 0;
            transition: all 1s ease;
        }
        /* #sec4 .imgBox2 .sec4img.show{
            transform: rotateY(0);
            opacity: 1;
        } */
        #sec4 .imgBox2 .sec4img div:nth-child(1){
            width: 150px;
            position: absolute;
            top: 25%; left: -10%;
            transform: rotate(270deg);
            font-size: 17px;
            font-weight: 500;
            text-align: end;
            /* border: 1px solid black; */
        }
        #sec4 .imgBox2 .sec4img div:nth-child(2){
            position: absolute;
            bottom: 10%; left: 10%;
            font-size: 30px;
            font-weight: bold;
        }
        #sec4 .imgBox2 .sec4img div:nth-child(3){
            position: absolute;
            bottom: 0; right: 0;
            font-size: 20px;
            font-weight: bold;
            color: #333;
            background-color: white;
            padding: 15px 22px;
            border-radius: 3px;
            opacity: 0;
            transform: translateY(20%);

            transition: all 0.5s linear;
        }

.sec4img1{ background-image: url(../img/section04_img01.png); }
.sec4img2{ background-image: url(../img/section04_img02.png); }
.sec4img3{ background-image: url(../img/section04_img03.png); }
.sec4img4{ background-image: url(../img/section04_img04.png); }


.sec4img1:hover{
    background-image: url(../img/section04_img01_over.png);
    transform: rotate(0) translateY(-10%);
}
    #sec4 .imgBox2 .sec4img1:hover > div:nth-child(3){
        opacity: 1;
        transform: translateY(0);
    }
.sec4img2:hover{
    background-image: url(../img/section04_img02_over.png);
}
    #sec4 .imgBox2 .sec4img2:hover > div:nth-child(3){
        opacity: 1;
        transform: translateY(0);
    }
.sec4img3:hover{
    background-image: url(../img/section04_img03_over.png);
}
    #sec4 .imgBox2 .sec4img3:hover > div:nth-child(3){
        opacity: 1;
        transform: translateY(0);
    }
.sec4img4:hover{
    background-image: url(../img/section04_img04_over.png);
}
    #sec4 .imgBox2 .sec4img4:hover > div:nth-child(3){
        opacity: 1;
        transform: translateY(0);
    }

.sec4img.show:hover{
    transition: all 0.5s linear;
    bottom: 10%;
}