/* 맨위 글자 작업 */
#sec2{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}
    #sec2 #e1{
        scale: 0;
        opacity: 0;
        transition: 0.5s ease-out;
    }
    #sec2 .tit{
        margin-top: 100px;
        margin-bottom: 30px;
        font-size: 37px;
    }
    #sec2 .dec1{
        font-size: 14px;
        text-align: center;

        /* border: 1px solid black; */
    }
    #sec2 .dec1 div{
        margin-top: 5px;
    }
    #sec2 .cir1{
        width: 25px;
        height: 25px;
        background-color: rgb(90, 183, 90);
        border-radius: 50%;
        position: absolute;
        z-index: -1;
        top: 44%; left: -2%;
    }

/* 5개의 아이콘 작업 */
#sec2 .iconBox{
    width: 60%;
    /* border: 1px solid black; */
    margin: 60px 0px;
    display: flex;
    justify-content: space-evenly;
}
#sec2 .iconBox .sec2Line{
    height: 200px;
    border-right: 2px solid lightgray;
}
#sec2 .iconBox .sec2Box{
    width: 100%;
    height: 200px;
    /* border-right: 1px solid lightgray; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    opacity: 0;
}
#sec2 .iconBox .sec2Box div:nth-child(1){
    position: relative;
    transform: translateY(10px);
    width: 50px;
    height: 50px;
    /* border: 1px solid black; */
    margin-bottom: 15px;
    transition: all 0.5s linear;

    cursor: pointer;
}
#sec2 .iconBox .sec2Box div:nth-child(2){
    position: relative;
    transform: translateY(10px);
    color: rgb(89, 89, 89);
    font-size: 20px;
    font-weight: bold;
    transition: all 0.5s linear;

    cursor: pointer;
}
#sec2 .iconBox .sec2Box div:nth-child(3){
    position: relative;
    transform: translateY(10px);
    display: flex;
    margin-top: 20px;
    opacity: 0;
    max-height: 100px;
    transition: all 0.5s linear;
    font-size: 14px;
    
    line-height: 30px;
    /* border: 1px solid black; */
    cursor: pointer;
}
    .sec2Box > div > span{
        display: block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        margin-left: 10px;
        color: white;
        background-color: green;
        border-radius: 50%;
        text-align: center;
    }
    #sec2 .iconBox .sec2Box:hover > div:nth-child(1){
        transform: translateY(0);
    }
    #sec2 .iconBox .sec2Box:hover > div:nth-child(2){
        transform: translateY(0);
        color: green;
    }
    #sec2 .iconBox .sec2Box:hover > div:nth-child(3){
        transform: translateY(0px);
        opacity: 1;
    }

    .sec2_bus{
        transition: all 0.5s linear;
        transform: translateX(-15%);
        opacity: 1;
    }
    .sec2_glo{
        transition: all 0.5s linear;
        transform: translateY(15%);
        opacity: 1;
    }
    .sec2_bio{
        transition: all 0.5s linear;
        transform: translateY(-15%);
        opacity: 1;
    }
    .sec2_hu{
        transition: all 0.5s linear;
        transform: translateY(15%);
        opacity: 1;
    }
    .sec2_edu{
        transition: all 0.5s linear;
        transform: translateX(15%);
        opacity: 1;
    }

/* 2개의 prd 작업 */
.sec2PrdBox{
    width: 80%;
    height: 300px;
    display: flex;
    margin-top: 150px;
    margin-bottom: 100px;
    background-color: white;
    padding: 50px 50px;

    /* border: 1px solid black; */
}
.sec2PrdBox > span{
    height: 100%;
    border-right: 2px dotted rgba(211, 211, 211, 1);
    margin-right: 80px;
    margin-left: 80px;
}
.sec2Prd{
    width: 50%;
    height: calc(100%);
    display: flex;

    /* border: 1px solid black; */
}
    .sec2Prd > div{
        width: 50%;
        position: relative;
    }
    .sec2Prd:nth-child(3) > div:nth-child(2){
        display: flex;
        flex-direction: column;
        align-items: end;
    }
    .sec2Prd > div div:nth-child(1){
        color: gray;
        font-weight: bold;
        font-size: 21px;
    }
    .sec2Prd > div div:nth-child(2){
        color: darkslategray;
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 30px;
    }
    .sec2Prd > div div:nth-child(3){
        color: #333;
        font-size: 19px;
    }
    .sec2Prd:nth-child(3) > div div:nth-child(3){
        text-align: end;
    }
    .sec2Prd > div div:nth-child(4){
        position: absolute;
        bottom: 0;
        font-size: 15px;
        cursor: pointer;
    }
    .sec2Prd:nth-child(1) > div div:nth-child(4) > span{
        display: inline-block;
        margin-left: 15px;
        width: 30px;
        height: 30px;
        background-color: rgb(108, 160, 31);
        text-align: center;
        line-height: 30px;
        border-radius: 50%;
        color: white;
        cursor: pointer;
    }
    .sec2Prd:nth-child(3) > div div:nth-child(4) > span{
        display: inline-block;
        margin-left: 15px;
        width: 30px;
        height: 30px;
        background-color: darkslategray;
        text-align: center;
        line-height: 30px;
        border-radius: 50%;
        color: white;
    }

    .sec2Prd .prdImgBox{
        display: flex;
        align-items: center;
        opacity: 0;
        scale: 0;
        transition: all 0.7s linear;
        /* border: 1px solid black; */
    }
    
    .sec2Prd .prdTextBox:nth-child(1){
        transform: translateX(-30%);
        opacity: 0;
        transition: all 0.7s linear;
    }
    .sec2Prd .prdTextBox:nth-child(2){
        transform: translateX(30%);
        opacity: 0;
        transition: all 0.7s linear;
    }





