/* outBox */
#sec1{
    width: 100%;
    height: 600px;
    position: relative;
    overflow-x: hidden;
}
.imgBox{
    width: 700%;
    height: 100%;
    display: flex;
    position: absolute;
    top: 0; left: 0;
    transform: translateX(-14.28%);
    transition: all 0.3s linear;
}
.banner{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

/* PageControl */
.pageControl{
    width: 200px;
    height: 60px;
    position: absolute;
    bottom: 0;
    right: 20%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.pageBox{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: 10px;
    margin: auto;
    /* background-color: aqua; */
}
    .pageBox .line{
        height: 8px;
        border: 1px solid lightgrey;
        margin-top: 4px;
    }
    .pageBox .lastPage{
        color: rgb(157, 157, 157);
    }
    .pageBox .prevPage, .nextPage{
        cursor: pointer;
    }
    .pageBar{
        width: 65%;
        border: 2px solid lightgray;
        margin: 0px auto 10px auto;
        position: relative;
    }
    .pageBar .cur_pageBar{
        width: 20%;
        height: 100%;
        position: absolute;
        border: 2px solid black;
        top: -2px; left: -2px;
    }

.img1{ background-image: url(../img/banner1.png); }
.img2{ background-image: url(../img/banner2.png); }
.img3{ background-image: url(../img/banner3.png); }
.img4{ background-image: url(../img/banner4.png); }
.img5{ background-image: url(../img/banner5.png); }